.bottom_bar_color {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #0B1E3E, #4E154C);
}

.bottom_bar_color1 {
    -fx-background-color: linear-gradient(from 5% 5% to 100% 100%, #0B1E3E, #4E154C);
}


.scrollBar {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
.scrollBar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}
.scrollBar  {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}
.scrollBar {
    -fx-padding: -1;
}
.scrollBar {
    -fx-background-color: derive( #E91DE4, 50%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}