.backgroundColor{
-fx-background-color: linear-gradient(#2aadc7, #b02ac7);
}

.backgroundColor1 {
-fx-background-color: #8e2e9e;
}

.backgroundColor2 {
-fx-background-color: linear-gradient(#2a79c7, #952ac7);;
}

.style{
      background-color:transparent;
}